@font-face {
    font-family: "Cambria", sans-serif;
    src: url(../fonts/cambriab.woff) format("woff"), 
         url(../fonts/cambriab.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
