@import "vars";
@import "libs";
@import "fonts";
@import "global";

.section {
    &__inner {
        position: relative;
        min-height: 100vh;
    }
    &__main {
        display: flex;
    }
    &__left {
        min-height: 100vh;
        width: 100%;
        max-width: 1032px;
        position: relative;
        // background-color: rgba(0, 255, 255, 0.123);
    }
    &__right {
        // width: 100%;
        padding: 0 59px;
        // background-color: rgba(165, 42, 42, 0.24);
    }
    &__img {
        // height: 100%;
        width: 100%;
        max-width: 900px;
        position: absolute;
        bottom: 0px;
    }
    &__title {
        margin-top: 26%;
        font-size: 208px;
        line-height: 208px;
        @extend %cambria-bold;
    }
    &__subtitle {
        font-size: 67px;
        line-height: 67px;
        @extend %cambria-bold;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 50px;
    }
    &__btn-copy {
        margin: 0 auto;
        width: 467px;
        height: 80px;
        border-radius: 40px;
        outline: none;
        background: none;
        border: 1px dashed #464646;
        cursor: pointer;
        color: #f73427;
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: relative;
        transition: all 0.3s ease;
        margin-bottom: 60px;

        &::after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 270px;
            height: 79px;
            border-right: 1px solid #464646;
            z-index: 999;
        }

        &:hover {
            box-shadow: 0px 0px 30px 0px #f73427;
        }

        &:active {
            box-shadow: 0px 0px 30px 10px #f73427;
        }
    }
    &__name {
        font-size: 40px;
        line-height: 43px;
    }

    &__copy {
        font-size: 18px;
        line-height: 22px;
        color: #fff;
    }

    &__footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 58px;
    }
}

@import "media";
