@import "vars";
@import "libs";
@import "fonts";
@import "global";


.section {
    &__inner {
        position: relative;
        min-height: 100vh;
    }

    &__main {
        display: flex;
    }

    &__left {
        min-height: 100vh;
        width: 100%;
        max-width: 1032px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__right {
        padding: 0 59px;
        z-index: 999;
    }

    &__img {
        height: 100%;
        max-width: 900px;
        position: absolute;
        bottom: 0px;
        z-index: 1;
    }

    &__img-back {
        width: 100%;
        position: absolute;
        bottom: -450px;
        left: -200px;
        z-index: 0;
    }

    &__img-front {
        width: 100%;
        position: absolute;
        z-index: 2;
        bottom: 0px;
    }

    &__title {
        margin-top: 26%;
        font-size: 208px;
        line-height: 208px;
        text-align: center;
        @extend %cambria-bold;
    }

    &__subtitle {
        font-size: 67px;
        line-height: 67px;
        @extend %cambria-bold;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 50px;
    }

    &__btn-copy {
        margin: 0 auto;
        width: 467px;
        height: 80px;
        border-radius: 40px;
        background: none;
        border: 1px dashed $palette-secondary;
        color: $palette-active;
        display: flex;
        align-items: center;
        justify-content: space-around;
        letter-spacing: 2px;
        position: relative;
        margin-bottom: 60px;
        
        &::after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 270px;
            height: 79px;
            border-right: 1px solid $palette-secondary;
        }

        &:hover .tooltiptext {
            opacity: 1;
        }
    }
    &__name {
        font-size: 40px;
        line-height: 40px;
    }

    &__copy {
        font-size: 18px;
        line-height: 22px;
        color: #fff;
        position: relative;
    }

    &__btn-play {
        display: block;
        margin: 0 auto;
        width: 360px;
        height: 80px;
        border: none;
        color: $palette-primary;
        font-weight: bold;
        font-size: 20px;
        line-height: 22px;
        background-color: $palette-active;
        z-index: 99999;
    }

    &__footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 58px;
        z-index: 999;

        &__text {
            font-size: 14px;
            line-height: 22px;
            color: $palette-secondary;
            letter-spacing: 1px;
            font-weight: bolder;
        }
    }
}

@import "media";
