@import "vars";
@import "libs";
@import "fonts";
@import "global";

.section {
    &__inner {
        position: relative;
        min-height: 100vh;
    }
    &__main {
        display: flex;
    }
    &__left {
        min-height: 100vh;
        width: 100%;
        max-width: 1032px;
        position: relative;
        // background-color: rgba(0, 255, 255, 0.123);
    }
    &__right {
        // width: 100%;
        padding: 0 59px;
        // background-color: rgba(165, 42, 42, 0.24);
    }
    &__img {
        // height: 100%;
        width: 100%;
        max-width: 900px;
        position: absolute;
        bottom: 0px;
    }
    &__title {
        margin-top: 26%;
        font-size: 208px;
        line-height: 208px;
        @extend %cambria-bold;
    }
    &__subtitle {
        font-size: 67px;
        line-height: 67px;
        @extend %cambria-bold;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 50px;
    }

    &__btn-copy {
        margin: 0 auto;
        width: 467px;
        height: 80px;
        border-radius: 40px;
        background: none;
        border: 1px dashed $palette-secondary;
        color: $palette-active;
        display: flex;
        align-items: center;
        justify-content: space-around;
        letter-spacing: 2px;
        position: relative;
        margin-bottom: 60px;

        &::after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 270px;
            height: 79px;
            border-right: 1px solid $palette-secondary;
        }
    }
    &__name {
        font-size: 40px;
        line-height: 40px;
    }

    &__copy {
        font-size: 18px;
        line-height: 22px;
        color: #fff;
    }

    &__btn-play {
        display: block;
        margin: 0 auto;
        width: 360px;
        height: 80px;
        border: none;
        color: $palette-primary;
        font-weight: bold;
        font-size: 20px;
        line-height: 22px;
        background-color: $palette-active;
    }

    &__footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 58px;

        &__text {
            font-size: 14px;
            line-height: 22px;
            color: $palette-secondary;
            letter-spacing: 1px;
            font-weight: bolder;
        }
    }
}



@import "media";
